#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    }
    .video-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    }
    @media (min-width: 100px){
    
    }
    